#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* *************************************** */
.line-through { text-decoration: line-through;}
.w-full { width: 100%;}
.w-max { width: 100%; max-width: 580px; min-width: 300px;}
.text-left { text-align: left;}
.no-select { user-select: none;}
.hidden { display: none;}
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.interfaz {
  border: #484848 2px solid;
  border-radius: 10px;
  padding: 0 8px;
  margin-bottom: 8px;
}
.lista {
  list-style-type: none;
  padding: 0;
}
.tarea {
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  margin: 4px 0px;
  background-color: #323232;
}
.tarea label, .buttonDelete {
  padding: 4px; padding-top: 0px;
  display: inline-block;
}
.tarea input { margin-right: 8px; }
.tituloLista {
  color: #656565 !important;
  padding: 0px 4px !important;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 8px 0;
}
.rutinas li {
  background-color: #121212;
}
.rutinas .buttonEdit {
  border-color: #242424;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.rutinas .buttonEdit:hover {
  border-color: rgb(204, 209, 211);
}
.rutinas .buttonEdit::after {
  content: ' rutina'
}
.tareas .buttonEdit::after {
  content: ' tarea'
}
.no-editable .cajaTarea {
  overflow: hidden !important;
}
.cajaTarea {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cajaTarea ::-webkit-scrollbar {
  display: none;
}
.cajaTarea label, .buttonDelete {
  min-width: 100%;
  scroll-snap-align: center;
}
.buttonDelete {
  background-color: brown;
}